.footer{
    background-color: black;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    letter-spacing: .1rem;

    p{
        color: white;
        font-weight: bold;    
    }

    span{
        color: white;
        font-weight: normal;
        font-size: 1.5rem;
    }
}
