@use "variables" as v;
@use 'mixin' as m;

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    overflow-x: hidden;
}
.container{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
[class$="heading"]{
    padding: 15rem 0 10rem 0;
    text-align: center;
}
[class$= "btn"]{
    @include m.btn;
}

.overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(0, 0, 0, 0.5);
    z-index: 999;
    animation: appear 500ms ease-in-out forwards;
}
.close-modal{
    position: absolute;
    font-family: v.$headingFont;
    top: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    color: #aaa;
    cursor: pointer;
    text-shadow: 0 0 2px black;
    &:hover{
        background-color: v.$colorHover;
    }
}

h1,h2{
    font-family: v.$headingFont;
    color: v.$black;
}

h3,p{
    font-family: v.$primaryFont;
    line-height: 1.5;
    color: v.$black;
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 3.8rem;
}
h3{
    font-weight: bold;
    font-size: 2.2rem;
}
img{
    display: block;
    max-width: 100%;
    width: 100%;
}
